/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2014, 1:25:21 PM
    Author     : marcio
*/

body{
margin: 0px;
padding: 0px;
}
fieldset{
border: 0px;
}
#loader{
display: none;
}